{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-transform-typescript",  ["@babel/plugin-proposal-pipeline-operator", {
    "proposal": "minimal"}
  ]
  ]
}